.faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq1{
  margin-left: 10px;
}

.accordion {
  width: 100%;
  margin-top: 2rem;
  background-color:   rgb(247, 203, 82) ;
  border-radius: var(--border-radius-1);
  padding: 40px;
}
.accordion-item {
  background-color: rgb(246, 237, 212);;
  color: #111;
  margin: 1rem 0;
  font-size: medium;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.accordion-item-header {
  padding: 1rem 3rem 1rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header:after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body.active {
  height: auto;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, transparent, #2324248d, transparent) 1;
}

.accordion-item-header .options {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.accordion-item-header .options span {
  font-size: 1.3rem !important;
}

.options .edit {
  color: green;
  margin: 0 5px;
}

.options .delete {
  color: red;
  margin: 0 5px;
}
