body.dark {
  background-color: rgb(25, 25, 25);
}

body.dark .logo h2 {
  color: rgb(246, 242, 242) !important;
}
body.dark aside {
  background-color: rgb(8, 8, 8);
}
body.dark aside .sidebar a {
  color: #fff;
}
body.dark .container {
  margin: 0;
}
body.dark aside .sidebar {
  margin-left: 0.3rem;
}

body.dark .faq1{
  color: #fff;
}

aside .sidebar a.active {
  color: var(--color-primary) !important;
}

 .mode {
  position: fixed;
  top: 0;
  right: 2rem;
}

.label {
  background-color: rgb(18, 18, 18);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  margin-right: 40px;
  position: relative;
  height: 22px;
  width: 38px;
  transform: scale(1.5);
  font-size: xx-small;
  border: 1px solid #fff;
}

.label .ball {
  background-color: rgb(246, 246, 246);
  border-radius: 50%;
  position: absolute;
  top: 2.8px;
  left: 3px;
  height: 14px;
  width: 14px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(15px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
