@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --orange: rgb(233, 184, 48);
  --light-orange: rgb(40, 39, 38);
  --color-primary: rgb(255, 162, 0);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #f7f7f744;
}

section {
  padding: 2rem 9%;
}

.w-full {
  width: 100% !important;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--orange);
  background: rgb(79, 77, 75);
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: rgb(250, 217, 85);
  color: rgb(79, 77, 75);
}
.heading {
  text-align: center;
  color: #333;
  font-size: 4rem;
  padding-bottom: 3rem;
}

/* Go up */
.go-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 5000;
}

.go-up-button i {
  font-size: 20px;
  color: var(--color-primary);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
}

header .logo {
  font-weight: bolder;
  font-size: 2.5rem;
  color: rgb(233, 184, 48);
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  padding: 0 1.5rem;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons #menu-bars,
header .icons a {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
}

header .icons #menu-bars:hover,
header .icons a:hover {
  background-color: var(--orange);
  color: var(--light-orange);
}

header .icons #menu-bars {
  display: none;
}

/* ========================== House Details ======= */

.main-title {
  font-size: 28px;
  text-align: center;
  padding-top: 1rem;
}

.house-details-container {
  display: flex;
  flex-wrap: wrap;
}

.house-details-container .left,
.house-details-container .right {
  width: 50%;
  padding: 1rem;
}

@media (max-width: 768px) {
  .house-details-container .left,
  .house-details-container .right {
    width: 100%;
  }
}

.house-details-container .left img {
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 1rem 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.house-details-container .house-details {
  margin-top: 1rem;
}

.house-details-container .house-details h1 {
  font-size: 18px;
  text-align: center;
}
.right h1 {
  font-size: 24px;
}

.right .col {
  margin: 1rem 0;
}

form h1 {
  text-align: center;
  max-width: 768px;
}
.form-main {
  max-width: 768px;
  width: 100%;
}

.form-main .textbox {
  padding: 10px 1rem;
}

.form-main label {
  font-size: 1rem;
  display: block;
  margin: 0 0 4px;
}

.form-main input,
.form-main select,
.form-main textarea {
  text-transform: none !important;
  display: block;
  width: 100%;
  background-color: #fff;
  color: #363949;
  padding: 0.8rem 1rem;
  border: 1px solid var(--color-primary);
}

/* ========= End of House Details ============= */

.footer .footer-container {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.footer .footer-container .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .footer-container .box-container .box {
  flex: 1 1 25rem;
}

.footer .footer-container .box-container .box h3 {
  font-size: 2.5rem;
  color: #333;
  padding: 0.5rem 0;
}

.footer .footer-container .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem 0;
}

.footer .footer-container .box-container .box a:hover {
  color: var(--red);
  text-decoration: underline;
}

.footer .footer-container .credit {
  margin-top: 2rem;
  padding: 0.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  text-align: center;
  color: #333;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .footer-container .credit span {
  color: var(--red);
}

.footer .footer-container {
  margin-bottom: 8rem;
}

.price-container {
  margin: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 1rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #f7f7f7;
    border-top: 0.1rem solid #333;
    border-bottom: 0.1rem solid #333;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1.5rem;
    background: #fff;
    border: 0.1rem solid #333;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
