body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  height: 100vh;
  width: 100%;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 248, 248);
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
img {
  width: 30px;
  float: right;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid rgb(250, 186, 68);
  border-radius: 4%;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  margin: 0 9px;
  color: #fff;
}

input::placeholder {
  color: rgb(255, 241, 241);
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid rgb(250, 186, 68);
  opacity: 0.8;
  color: rgb(245, 238, 238);
  padding: 5px;
  font-size: 17px;
  margin: 12px 0;
  border-radius: 10px;
}
span {
  font-weight: bold;
  font-size: small;
  margin-right: 10px;
}
a {
  font-size: small;
  color: white;
}
.register a {
  text-decoration: none;
  color: rgb(250, 186, 68);
}

.btn:hover {
  background-color: rgb(250, 186, 68);
  color: black;
  font-weight: bold;
}
