@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --color-primary: rgb(255, 162, 0);
  --orange: rgb(233, 184, 48);
  --light-orange: rgb(40, 39, 38);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  height: 100vh;
  background: url("../img/register.png") no-repeat;
  background-position: top 50% right 12%;
  width: 100%;
}

body.dark {
  background: url("../img/register.png") no-repeat;
  background-position: top 50% right 12%;
  width: 100%;
}

body.dark header .navbar a{
  color: #fff;
}

body.dark .login-box{
  box-shadow: 0 0 10px 3px rgba(6, 5, 5, 0.15);
}

body.dark .login-box h1{
  color: #fff;
}

body.dark .login span
{
  color: #fff;
}

body.dark input::placeholder {
  color: #fff;
}

header {
  font-family: "Nunito", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: bolder;
  font-size: 1.5rem;
  color: rgb(233, 184, 48);
}

header .navbar a {
  color: rgb(16, 16, 16);
  font-size: 1.2rem;
  padding: 0 1rem;
}

header .navbar a:hover {
  color: var(--color-primary);
}
header .icons #menu-bars,
header .icons a {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

header .icons #menu-bars:hover,
header .icons a:hover {
  background-color: var(--orange);
}

header .icons #menu-bars {
  display: none;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

body.dark {
  background-color: rgb(35, 35, 35);
}
.mode {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
}

.label {
  background-color: rgb(18, 18, 18);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  position: relative;
  height: 22px;
  width: 38px;
  transform: scale(1.5);
  font-size: xx-small;
  border: 1px solid #fff;
}

.label .ball {
  background-color: rgb(246, 246, 246);
  border-radius: 50%;
  position: absolute;
  top: 2.8px;
  left: 3px;
  height: 14px;
  width: 14px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(15px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.login-box {
  width: 300px;
  position: relative;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  color: rgb(18, 17, 17);
  border-radius: 4%;
  width: 23%;
  padding: 2%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
img {
  width: 30px;
  float: right;
}

input,
select {
  border: none;
  outline: none;
  background: none;
}
.textbox {
  width: 97.5%;
  overflow: hidden;
  font-size: 20px;
  padding: 3px;
  margin: 8px 0;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  margin: 0 9px;
  color: rgb(18, 17, 17);
  padding: 10px;
  width: 100%;
}

.textbox img {
  margin-right: 10px;
}

input::placeholder {
  font-size: 15px;
}

select {
  background-color: #fff;
  appearance: none;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}
.login-btn {
  width: 100%;
  background-color: var(--color-primary);
  color: rgb(18, 17, 17);
  padding: 10px;
  font-size: 17px;
  margin: 1rem 0;
  border-radius: 5px;
  border: 0;
  cursor: pointer !important;
}

span {
  font-weight: bold;
  font-size: small;
  text-transform: capitalize;
}

.login a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  font-size: small;
  margin-left: 5px;
}
.login a:hover {
  color: rgb(255, 162, 0);
}
.btn:hover {
  background: rgb(245, 193, 103);
  font-weight: bold;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 65%;
  }

  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    height: 100vh;
    background: none;
    width: 100%;
  }

  body.dark {
    background: #292c35;
  }

  header {
    padding: 1.5rem 1rem;
  }

  .mode {
    float: right;
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 30px;
  }
.label{
  height: 15px;
  width: 28px;
  padding: 3px;
  font-size: 9px;
}

.label .ball {
  background-color: rgb(246, 246, 246);
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.8px;
  height: 11px;
  width: 11px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(10.5px);
}
  .login-box {
    width: 380px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(18, 17, 17);
    border-radius: 4%;
    width: 45%;
    padding: 5%;
  }
}

 

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-top: 0.1rem solid #333;
    border-bottom: 0.1rem solid #333;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
  }

  .mode {
    float: right;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 30px;
  }
  
  .login-box {
    width: 380px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(18, 17, 17);
    border-radius: 4%;
    width: 60%;
    padding: 5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

}
